<!DOCTYPE html>
<html>
<head>
    <title>batuhan</title>
    <script src="http://localhost:9090/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body> 
    <button id="roomRequest">roomRequest</button>  
    <script>
        
        var socketList = [];
        for (let index = 0; index < 4; index++) {
            let socket = io('http://localhost:9090');  
            socketList.push(socket);
            // Add a connect listener
            socket.on('connect', function() {
                console.log(socket.id);
                console.log('Client has connected to the server!');
            });
            // Add a connect listener
            socket.on('message', function(data) {
                console.log('Received a message from the server!', data);
            });
            // Add a disconnect listener
            socket.on('disconnect', function() {
                console.log('The client has disconnected!');
            });
        }
             
        $(document).ready(function(){
            $("#roomRequest").click(function(){
                socketList.forEach(socket => {
                    socket.emit('roomRequest', 'new room request');
                });
            });
        });
        
    </script> 
</body>
</html>