<!DOCTYPE html>
<html>
<head>
    <title>batuhan</title>
    <script src="http://localhost:9090/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body> 
    <button id="roomRequest">roomRequest</button>  
    <script>

        var socket = io('http://localhost:9090');       
        //socket.connect();
        
        // Add a connect listener
        socket.on('connect', function() {
            console.log(socket)
            console.log('Client has connected to the server!');
        });
        // Add a connect listener
        socket.on('message', function(data) {
            console.log('Received a message from the server!', data);
        });
        // Add a disconnect listener
        socket.on('disconnect', function() {
            console.log('The client has disconnected!');
        });
        
        // Sends a message to the server via sockets
        function sendMessageToServer(topic, message) {
            console.log(message);
            socket.emit(topic, message);
            //socket.send(message);
        }
                     
        $(document).ready(function(){
            $("#roomRequest").click(function(){
                sendMessageToServer('roomRequest', 'new room request');
            });
        });

        // var interval = setInterval(function() {
        //     sendMessageToServer('This is a message from the server!  ' + new Date().getTime());
        // }, 5000);
        
    </script> 
</body>
</html>